<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<!--Title-->
<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Welcome to <%= title %> page</h1>
  </div>
</div>

<!--Home page content-->
<% if ( title == "Home") {%>
<div class="contanier-lg d-flex justify-content-center">
  <div class="card" style="width: 50rem">
    <div class="card-body">
      <h5 class="card-title">Mission Statement</h5>
      <p class="card-text">
        My mission is to become a highly accomplished Software Developer and create new and intuitive application built to be rebust and well-optimized as I expect all the apps, I use, to be
      </p>
    </div>
  </div>
</div>
<!--About Me page content-->
<% } else if ( title == "About Me") {%>
<div class="contanier-lg d-flex justify-content-center">
  <div class="card" style="width: 50rem">
    <img src="Assests/images/photo.jpg" class="card-img-top rounded mx-auto d-block img-thumbnail" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Who am I?</h5>
      <p class="card-text">
        I am a Software Engineering Technology student trying to persue a career of a Software Developer. I switched careers from Mechanical Engineering to Software when I worked as a Software Developer at BTNX Inc. and realized Software is for me.
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Hassaan binKhalil</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Resume</a>
    </div>
  </div>
</div>
<!--Projects page content-->
<% } else if ( title == "Projects") {%> 
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img src="Assests/images/project1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Personal Portfolio</h5>
          <p class="card-text">I am working on a portfolio for my course assignment and future job applications </p>
          <a href="Assests/files/Resume.pdf" class="btn btn-primary">Resume</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img src="Assests/images/project2.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">UPS Tracking and Data</h5>
          <p class="card-text">Made an app for BTNX Inc. using ReactJs to access delivery details and status</p>
          <a href="Assests/files/Resume.pdf" class="btn btn-primary">Resume</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img src="Assests/images/project3.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Create a table app</h5>
          <p class="card-text">Created a web app that asks for number of rows and columns and creates a table on the given parameters</p>
          <a href="http://studentweb.cencol.ca/hkhalil4/comp125/assignment2.html" class="btn btn-primary">Go to webpage</a>
        </div>
      </div>
    </div>
  </div>
<!--Services page content-->
<% } else if ( title == "Services") {%>
  <div class="contanier-lg d-flex justify-content-center">
    <div class="card" style="width: 50rem;">
      <div class="card-body">
        <h5 class="card-title">Services I Offer</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Full Stack Web App Development</li>
        <li class="list-group-item">Back-end Web Development</li>
        <li class="list-group-item">Database Management</li>
      </ul>
    </div>
  </div>
<!--Contact Me page content-->
<% } else if ( title == "Contact Me"){%> 
  <div class="contanier-lg d-flex justify-content-center">
    <div class="row g-3">
      <div class="col">
        <label for="firstName" class="form-label">First Name</label>
        <input type="text" class="form-control" placeholder="First name" aria-label="First name" id="firstName">
      </div>
      <div class="col">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" id="lastName">
      </div>
      <div class="col-md-4">
        <label for="inputEmail4" class="form-label">Phone Number</label>
        <input type="tel" class="form-control" id="inputEmail4">
      </div>
      <div class="col-md-12">
        <label for="tele" class="form-label">Email</label>
        <input type="email" class="form-control" id="tele">
      </div>
      <div class="mb-3">
        <label for="message" class="form-label">Message</label>
        <textarea class="form-control" id="message" rows="3"></textarea>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3" onclick="location.href = '/';">Submit</button>
      </div>
    </div>
  </div>
  <% } %> 
<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
